name: Build ngwaf-compute-integration
on: push
permissions:
  contents: read

jobs:
  build-ngwaf-compute-integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Rust toolchain with caching
      uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Set up Fastly CLI
      uses: fastly/compute-actions/setup@v11
      with:
        cli_version: '11.1.0' # optional, defaults to 'latest'
        token: ${{ secrets.GITHUB_TOKEN }}
    
    # - name: Install Rust toolchain
    #   run : rustup target add wasm32-wasip1

    - name: Build (using cargo)
      run: |
        cd ./ngwaf-compute-integration
        rustup target add wasm32-wasip1
        RUSTFLAGS="--deny warnings" cargo build --profile release    

    - name: Build Compute Package
      uses: fastly/compute-actions/build@v11
      with:
        verbose: true # optionally enables verbose output, defaults to false
        project_directory: ./ngwaf-compute-integration
